In [63]:
import random
import numpy as np
import pandas as pd

In [67]:
df_heights_weights = pd.read_csv("../dados/heights-weights-dataset/heights_weights_dataset.csv", sep=";")
df_heights_weights

       Height(Inches)  Weight(Pounds)         State
0            65.78331        112.9925     Louisiana
1            71.51521        136.4873      Illinois
2            69.39874        153.0269  Pennsylvania
3            68.21660        142.3354       Arizona
4            67.78781        144.2971       Georgia
...               ...             ...           ...
24995        69.50215        118.0312      Maryland
24996        64.54826        120.1932       Indiana
24997        64.69855        118.2655      Nebraska
24998        67.52918        132.2682          Ohio
24999        68.87761        124.8742  Pennsylvania

[25000 rows x 3 columns]