In [13]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.metrics import confusion_matrix, classification_report, mean_squared_error

In [14]:
df_games_sales = pd.read_csv("../dados/game-sales-kaggle/game_sales.csv", header=0)

cat_column_names = ["Platform", "Genre", "Publisher"]
df_games_sales[cat_column_names] = df_games_sales[cat_column_names].astype("category")

for column_name in cat_column_names:
    df_games_sales[column_name] = df_games_sales[column_name].cat.codes
    
X_train, X_test, y_train, y_test = train_test_split(df_games_sales, df_games_sales["Global_Sales"], test_size=0.2)

In [15]:
df_games_sales["Year"] = df_games_sales["Year"].fillna(df_games_sales["Year"].mean()).astype(int)
df_games_sales["Rank"] = df_games_sales["Rank"].astype(int)
df_games_sales

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,26,2006,10,359,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,11,1985,4,359,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,26,2008,6,359,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,26,2009,10,359,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,5,1996,7,359,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,6,2002,4,269,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,7,2003,8,241,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,16,2008,6,21,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,4,2010,5,8,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,6,2003,4,546,0.01,0.00,0.00,0.00,0.01

In [16]:
scaler = StandardScaler()
X_test["Year"] = X_test["Year"].fillna(X_test["Year"].mean()).astype(int)
arr = scaler.fit_transform(X_test.drop(["Name"], axis=1))
print(arr.shape)

pca = PCA(n_components=5)
arr = pca.fit_transform(arr)
print(arr.shape)

(3320, 10)
(3320, 5)

In [17]:
clf = LinearRegression()

X_train["Year"] = X_train["Year"].fillna(X_train["Year"].mean()).astype(int)
clf.fit(X_train.drop("Name", axis=1), X_train["Global_Sales"])

X_test["Year"] = X_test["Year"].fillna(X_test["Year"].mean()).astype(int)
y_pred = scaler.fit_transform(X_test.drop(["Name"], axis=1))
y_pred = pca.fit_transform(y_pred)

y_pred = clf.predict(X_test.drop("Name", axis=1))

print(mean_squared_error(X_test["Global_Sales"], y_pred))

2.9951534732476876e-29