### 0. Importação dos pacotes.

In [2]:

import random
import numpy as np
import pandas as pd

### 1. Variáveis e tipos.

In [82]:
idade: int = 30
nome: str = "Jhon Doe"
quantia: float = 150.35

print(nome, idade, quantia)

# string embedding.
print(f"\nNome: {nome}\nIdade: {idade}\nQuantia: {quantia}")

Jhon Doe 30 150.35

Nome: Jhon Doe
Idade: 30
Quantia: 150.35

### 2. Principais Estruturas de Dados (Listas x Tuplas).

In [83]:
lista_informacoes: list = [nome, idade, quantia]
tupla_informacoes: tuple = (nome, idade, quantia)

print(lista_informacoes)
print(tupla_informacoes)

lista_informacoes[0] = "Mary Doe"
print(lista_informacoes)

tupla_informacoes[0] = "Mary Doe"
print(tupla_informacoes)

['Jhon Doe', 30, 150.35]
('Jhon Doe', 30, 150.35)
['Mary Doe', 30, 150.35]

TypeError: 'tuple' object does not support item assignment

### 3. Principais Operações com Listas

In [84]:

QTD_NUMEROS = 20

# for loop
lista_numerica_normal = []
for i in range(QTD_NUMEROS + 1):
    lista_numerica_normal.append(i)

# list comprehension
lista_numerica_comprehension = [i for i in range(QTD_NUMEROS + 1)]

print(lista_numerica_normal)
print(lista_numerica_comprehension)

# invertendo a lista
lista_numerica_comprehension.reverse()
print(lista_numerica_comprehension)

# indexação (slicing)
print(f"\nPrimeiro elemento: {lista_numerica_comprehension[0]}\nÚltimo elemento: {lista_numerica_comprehension[-1]}")
print(f"\nApenas pares: {lista_numerica_comprehension[0 : -1 : 2]}")
print(f"Apenas ímpares: {lista_numerica_comprehension[1 : -1 : 2]}")

# função 'map' (elevando ao quadrado)
lista_quadrados = list(map(lambda numero: numero ** 2, lista_numerica_comprehension))
print(f"\nLista de quadrados: {lista_quadrados}")

# função 'map' (elevando ao quadrado)
media_lista_quadrados = sum(lista_quadrados) / len(lista_quadrados)
print(f"\nMédia da lista de quadrados: {media_lista_quadrados:.3f}")

random.shuffle(lista_quadrados)
print(lista_quadrados)

print(f"\nÍndice correspondente ao maior valor: {np.array(lista_quadrados).argmax()}")
print(f"Índice correspondente ao menor valor: {np.array(lista_quadrados).argmin()}\n")

# inserindo um elemento em um índice específico
lista_numerica_comprehension.insert(0, 0)
lista_numerica_comprehension.insert(2, 1)

print(lista_numerica_comprehension)

# removendo o último elemento da lista
lista_numerica_comprehension.pop()
print(lista_numerica_comprehension)

# removendo um elemento da lista a partir do índice
lista_numerica_comprehension.remove(10)
print(lista_numerica_comprehension)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Primeiro elemento: 20
Último elemento: 0

Apenas pares: [20, 18, 16, 14, 12, 10, 8, 6, 4, 2]
Apenas ímpares: [19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

Lista de quadrados: [400, 361, 324, 289, 256, 225, 196, 169, 144, 121, 100, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0]

Média da lista de quadrados: 136.667
[81, 25, 1, 289, 400, 16, 324, 49, 121, 225, 169, 256, 9, 196, 100, 36, 0, 144, 4, 64, 361]

Índice correspondente ao maior valor: 4
Índice correspondente ao menor valor: 16

[0, 20, 1, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 20, 1, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[0, 20, 1, 19, 18, 17, 16, 15, 14, 13, 12, 11, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 4. Principais Estruturas de Dados (Dicionários)

In [85]:
lista_paises   = ["Brasil", "França", "Alemanha", "Rússia"]
lista_capitais = ["Brasília", "Paris", "Berlin", "Moscou"]

# utilizando a função zip para criar o dicionário
dict_paises_capitais = dict(zip(lista_paises, lista_capitais))

# exibindo as chaves:
print(list(dict_paises_capitais.keys()))

# exibindo os valores:
print(list(dict_paises_capitais.values()))

# exibindo um valor
print(f"\nA capital da França é: {dict_paises_capitais['França']}\n")

# exibindo o dicionário:
for chave, valor in dict_paises_capitais.items():
    print(f"País: {chave}, Capital: {valor}")

['Brasil', 'França', 'Alemanha', 'Rússia']
['Brasília', 'Paris', 'Berlin', 'Moscou']

A capital da França é: Paris

País: Brasil, Capital: Brasília
País: França, Capital: Paris
País: Alemanha, Capital: Berlin
País: Rússia, Capital: Moscou

### 5. Principais Estruturas de Dados (Conjuntos)

In [86]:
TERMO_FIB = 12

def fibonacci(termo: int) -> dict[int, list[int]]:
    """Retorna o n-ésimo termo da sequência de Fibonacci. 

    Args:
        termo (int): o índice correspondente ao n-ésimo termo da sequência.

    Returns:
        dict[int, list[int]]: (i) o n-ésimo termo; (ii) a sequência de Fibonacci até n.
    """
    fibonacci = [0, 1]
    
    if termo == 0 or termo == 1:
        return fibonacci[termo], fibonacci
    
    for _ in range(termo + 1):
        soma = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(soma)
        
    return fibonacci[-1], fibonacci


# lista de fibonacci.
termo, lista_seq_fib = fibonacci(TERMO_FIB)
print(termo, lista_seq_fib)

# separando a lista em duas partes:

lista_fib_p1 = lista_seq_fib[:5]
lista_fib_p2 = lista_seq_fib[5:]

print()
print(lista_fib_p1)
print(lista_fib_p2)

# transformando as partes em conjuntos.
set_fib_p1 = set(lista_fib_p1)
set_fib_p2 = set(lista_fib_p2)

print()
print(set_fib_p1)
print(set_fib_p2)

# adicionando dois elementos no conjunto 2
set_fib_p2.add(2)
set_fib_p2.add(3)

print()

# interseção do conjunto 1 com o 2
print(set_fib_p1.intersection(set_fib_p2))

# diferença do conjunto 1 com o 2
print(set_fib_p1 - set_fib_p2)

# diferença do conjunto 2 com o 1
print(set_fib_p2 - set_fib_p1)

# união do conjunto 1 com o 2
print(sorted(set_fib_p2.union(set_fib_p1)))

377 [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

[0, 1, 1, 2, 3]
[5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

{0, 1, 2, 3}
{34, 5, 8, 233, 377, 13, 144, 21, 55, 89}

{2, 3}
{0, 1}
{89, 34, 5, 8, 233, 13, 144, 21, 55, 377}
[0, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

### 6. Lendo dados a partir do Pandas.

In [5]:
df_titanic_train = pd.read_csv("../dados/titanic-kaggle/train.csv")
df_titanic_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q