In [84]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score

In [85]:
df_cars = pd.read_csv('../dados/car-evaluation-uci/cars.csv', sep=',', header=None)
df_cars.columns = ["buying", "maintenance", "doors", "persons", "lug_boot", "safety", "class"]

for col in df_cars.columns[:-1]:
    df_cars[col] = df_cars[col].astype('category')
    df_cars[col] = df_cars[col].cat.codes
    
# unacc = 0
# others = 1
df_cars[df_cars["class"] != 'unacc'] = 0
df_cars["class"] = df_cars["class"].replace('unacc', 1)

df_cars

      buying  maintenance  doors  persons  lug_boot  safety  class
0          3            3      0        0         2       1      1
1          3            3      0        0         2       2      1
2          3            3      0        0         2       0      1
3          3            3      0        0         1       1      1
4          3            3      0        0         1       2      1
...      ...          ...    ...      ...       ...     ...    ...
1723       0            0      0        0         0       0      0
1724       0            0      0        0         0       0      0
1725       1            1      3        2         0       1      1
1726       0            0      0        0         0       0      0
1727       0            0      0        0         0       0      0

[1728 rows x 7 columns]

In [86]:
X_train, X_test, y_train, y_test = train_test_split(df_cars[df_cars.columns[:-1]], df_cars[df_cars.columns[-1]], test_size=0.2)

clf = LogisticRegression()
clf.fit(X_train, y_train)
print(confusion_matrix(y_test, clf.predict(X_test)))
print(accuracy_score(y_test, clf.predict(X_test)))

[[ 97   0]
 [  1 248]]
0.9971098265895953